.container {
  display: flex;
}

.header
{
  text-align: center;
}

.right-section
{
width: 70%;
border: 1px solid black;
}

.left-section
{
  width: 30%;
  flex-direction: row;
  flex-grow: 1;
  background-color: #fff;
  border: 1px solid black;
  border-radius: 10px ;
}


.react-chatbot-kit-chat-container {
  position: relative;
  width: 100% !important;  
}


.design-experience
{
  border-radius: 10px ;
  width: 500px;
}

.design-experience-container > img{
  width: 500px;
  height: 500px;
}

